/*
    ================================================
                        HEADER
    ================================================    
*/

html {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    padding-right: 4em;
    padding-left: 4em;
    position: absolute;
    z-index: 1;
}

body {
    height: 100%;
    width: 100%;
}

.navbar-nav {
    margin-right: 50px;
    margin-left: 0;
}

.btn-resume {
    background: #4527A0;
    color: white;
    padding: 0;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn-resume:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.22);
}

.ribbon {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    background: #4527A0;
}

.ribbon>.ribbon-disponse {
    color: white;
    text-align: center;
    float: right;
    vertical-align: middle;
    display: inline;
}

.ribbon>.ribbon-message>.ribbon-link {
    color: white;
}

.ribbon>.ribbon-message {
    color: white;
    display: inline;
}

/*
    ================================================
                    CONTENT SECTIONS
    ================================================    
*/

.content {
    width: 100%;
    height: 100%;
}

.content-section {
    padding-bottom: 10px;
}

.section-title {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 25px;
}

.section-title>.section-icon {
    color: white;
    margin-right: 15px;
}

.hr-divider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
    color: white;
}

/*
    ================================================
                        PROMPT
    ================================================    
*/

.prompt {
    width: 100%;
    min-height: 100%;
    background-color: #262847;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%237d96c7' fill-opacity='0.06'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-top: 100px;
}

 .billboard{
    background-color: rgba(255, 255, 255, 0.3);     
    padding-left: 0; 
    border-radius: 10px;
 
 }
 .billboard-title{
     color: white;
     background-color: rgba(255, 255, 255, 0.3);    
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     padding: 5px;
     margin-bottom: 0;
     margin-top: 0;
     padding-top: 1px;
 }

 .front-img{
     width: 100%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }

/*
    ================================================
                        PROFILE
    ================================================    
*/

.profile {}

.profile-photo {
    width: 50%;
    height: auto;
    float: right;
}

.greet {
    font-size: 56px;
}

@media (max-width: 575px) {
    .profile-photo {
        position: relative;
        margin-left: 25%;
        float: none;
    }
    .greet {
        font-size: 40px;
    }
}

.elevated {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.sub-section-title {
    margin-bottom: 15px;
}

.sub-section-title>h2>.icon {
    margin-right: 10px;
}

.btn-outline-dark :hover {
    color: white;
}

.languages {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #1B5E20;
}

.language {
    border: 0.1px solid #d0d0d0;
    border-radius: 5px;
    padding: 25px;
    background: white;
}

.language>.icon {
    float: left;
    width: 80px;
    height: auto;
    margin-left: 30px;
}

.language>.description {
    text-align: center;
}

.language>.legend {}

.studies {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #651FFF;
}

.study {
    padding: 25px;
}

.study>.icon {
    width: 80px;
    height: auto;
    margin-left: 30px;
    border-radius: 50%;
    display: block;
    float: left;
}

.study>.description {
    text-align: left;
    display: inline;
    display: block;
    float: left;
    margin-left: 45px;
}

.study>a>.legend {
    color: #651FFF;
    text-decoration: none;
    font-weight: normal;
}

.interests {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #283593;
}

.interest {
    background: white;
    border: 0.5px solid #d0d0d0;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 30px;
    min-height: 260px;
    max-height: 260px;
}

.interest>.icon {
    width: 80px;
    height: 80px;
    display: block;
    /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.interest>.description {
    text-align: center;
}

.interest>a>.legend {
    color: #283593;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}

.hobbies {}

/*
    ================================================
                        SKILLS
    ================================================    
*/

.skills {
    background: #FF9800;
}

.skill {
    color: white;
}

.skill>.header {
    position: static;
    padding: 0;
}

.skill>.header>.icon {
    width: 80px;
    height: auto;
    display: block;
    /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
}

.skill>.header>.legend {
    text-align: center;
}

.skill>.list {
    list-style-type: none;
    display: block;
    /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}

.skill>.list>.list-elem {}

.soft-skills {
    color: white;
}

.soft-skill {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-height: 150px;
    min-height: 150px;
}

.soft-skill>.icon {
    width: 60px;
    height: 60px;
    display: block;
    /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
}

.soft-skill>.icon svg path {
    color: #1B5E20;
}

.soft-skill>.name {
    color: #FF9800;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

/*
    ================================================
                        PROJECTS
    ================================================    
*/

.projects {
    width: 100%;
    background: rgb(38, 161, 13);
}

.project {
    background: white;
    border-radius: 3px;
    padding-bottom: 0;
    padding: 0;
    margin-bottom: 20px;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 0px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
}

.thumbnail {
    width: 100%;
    margin-bottom: 0;
}

.btn-detail {
    background: #4527A0;
    width: 100%;
    border-radius: 0;
    padding: 1px;
    border: none;
    color: white;
}

.btn-detail>.icon {
    margin-left: 5px;
}

.project-type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    color: #1565C0;
}

.project-date {
    padding-top: 10px;
}

.project-date {
    color: rgb(122, 125, 128);
}

.project-role {
    margin: 0;
}

.project-description {
    font-size: 15px;
    margin-bottom: 0;
}

.project-personal {
    color: #1B5E20;
}

@media (min-width: 768px) {
    .project-description {
        font-size: 20px;
    }
}

/*
    ================================================
                        CONTACT
    ================================================    
*/

.events {
    width: 100%;
    background: rgb(38, 161, 13);
}

/*
    ================================================
                        CONTACT
    ================================================    
*/

.contact {
    width: 100%;
}

/*
    ================================================
                        COPYRIGHT
    ================================================    
*/

.copyright {
    background: #F57C00;
    color: white;
    padding: 10px;
    text-align: center;
}